/_TMPRES
/.settings
/.idea
/.buildpath
/.project
.directory
/node_modules
/composer.phar
/build/logs/*
/tmp
/src
/vendor
/cov
/web/bundles
/web/css
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
/web/info.php
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/config/logs/*
*~
